In [77]:
#import libraries
import pandas as pd #pandas class
import numpy as np
import traceback
import os
import copy
import math
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
import category_encoders as ce
import time
from scipy.stats import chi2_contingency
from scipy.stats import boxcox
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.inspection import permutation_importance
import logging
plt.style.use('_mpl-gallery')

In [3]:
try:
        
        filepath=f'/Users/chiragshah/Downloads/Projects/Data Science/home-credit-default-risk/Cleaning_3.csv'
        df=pd.read_csv(filepath)
        df.drop(columns='Unnamed: 0',inplace=True)
        #take backup of file
        backup=copy.deepcopy(df)
        
except Exception as ex:
    print(f'Following exception:\n {ex}')
    traceback.print_exc()

In [4]:
df.shape

(307511, 158)

In [ ]:
'''There are 157 predictors currently. We'll check if all those features are required or not.
    The goal is to identify subset of features (top 25 or 50) that will yield global optimum.
    Also, can we identify the relationship (or importance) of each predictor to our model.
'''

In [ ]:
'''Firstly, we'll select all the features and use few tree-based models.

'''

In [15]:
'''Separate target from predictors.'''
X=df.iloc[:,1:]
y=df.iloc[:,0]

In [19]:
#Split the training data in train, cross validation

X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.30,random_state=42)

In [43]:
'''Grading boosing classifier.'''
n_estimators=[75,100,250,300,350]
learning_rate=[0.10,0.25,0.50,0.75,1,1.25,1.50,1.75]
def xgboost_model():
    '''XGBoost model to fit and score various'''
    
    for l_rate in learning_rate:
        xgboost=GradientBoostingClassifier(n_estimators=100,learning_rate=l_rate,max_depth=1.0,random_state=0).fit(X_train,y_train)
        score=xgboost.score(X_val,y_val)
        print('The accuracy score with {} learning rate is {}'.format(l_rate,score))

In [44]:
xgboost_model()

The accuracy score with 0.1 learning rate is 0.9196999588093742
The accuracy score with 0.25 learning rate is 0.9196240813406464
The accuracy score with 0.5 learning rate is 0.9198842326619984
The accuracy score with 0.75 learning rate is 0.9198408741084397
The accuracy score with 1 learning rate is 0.9195915624254775
The accuracy score with 1.25 learning rate is 0.9196024020638671
The accuracy score with 1.5 learning rate is 0.9196566002558154
The accuracy score with 1.75 learning rate is 0.919027901229215

In [ ]:
'''Increasing/decreasing the number of estimators is not increasing the accuracy above 0.9195915624254775.'''
'''Increasing/decreasing the learnig rate is also not increasing the accuracy above 0.9198842326619984.'''

In [51]:
'''Random Forest classifier.'''
#n_estimators=[75,100,125,150,175,200,225,250,300,350,500,1000,2000]
n_estimators=[100]
criterion=['gini','entropy']
def randomforest_model():
    '''Random forest model to fit and score various'''
    
    for estimator in n_estimators:
        
        for criteria in criterion:
            random_forest=RandomForestClassifier(n_estimators=estimator,criterion=criteria,random_state=0).fit(X_train,y_train)
            score=random_forest.score(X_val,y_val)
            print('The accuracy score with {} estimator and {} criteria is {}'.format(estimator,criteria,score))

In [53]:
randomforest_model()

In [ ]:
'''End of the stable version of project.
    After this cell the projects

'''

In [57]:
df.sample(frac=0.60,axis=1)

,REGION_RATING_CLIENT,ORGANIZATION_TYPE_col_6,REG_CITY_NOT_WORK_CITY,HOUR_APPR_PROCESS_START,NAME_FAMILY_STATUS_Separated,ORGANIZATION_TYPE_col_12,FONDKAPREMONT_reg oper account,CODE_GENDER_M,LANDAREA_MEDI,ORGANIZATION_TYPE_col_11,...,NAME_EDUCATION_TYPE_Incomplete higher,NAME_INCOME_TYPE_Working,ELEVATORS_AVG,ORGANIZATION_TYPE_col_10,TOTALAREA_MODE,EXT_SOURCE_3,NAME_HOUSING_TYPE_Office apartment,WALLSMATERIAL_Others,NAME_INCOME_TYPE_Unemployed,WALLSMATERIAL_Monolithic
0,2,0,0,10,0,0,1,1,0.03750,0,...,0,1,0.000000,0,0.014900,0.139376,0,0,0,0
1,1,0,0,11,0,0,1,0,0.01320,0,...,0,0,0.080000,1,0.071400,0.510853,0,0,0,0
2,2,0,0,9,0,0,0,1,0.08965,1,...,0,1,0.078942,0,0.102547,0.729567,0,0,0,0
3,2,0,0,17,0,0,0,0,0.08965,0,...,0,1,0.078942,0,0.102547,0.510853,0,0,0,0
4,2,0,1,11,0,0,0,1,0.08965,0,...,0,1,0.078942,1,0.102547,0.510853,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,1,0,0,15,1,0,1,1,0.06050,0,...,0,1,0.220000,1,0.289800,0.510853,0,0,0,0
307507,2,0,0,8,0,1,1,0,0.05890,0,...,0,0,0.000000,0,0.021400,0.510853,0,0,0,0
307508,3,0,1,9,1,0,1,0,0.05540,0,...,0,1,0.000000,1,0.797000,0.218859,0,0,0,0
307509,2,0,1,9,0,0,0,0,0.01660,0,...,0,0,0.000000,0,0.008600,0.661024,0,0,0,0
307510,1,0,1,20,0,0,0,0,0.05280,0,...,0,0,0.080000,0,0.071800,0.113922,0,0,0,0

In [30]:
#XGBoost with recursive feature elimination method (greedy recursive approach).
#Genetic algorithms and simulated annealing.

29765     1
17967     1
236052    1
113757    1
250544    1
         ..
284206    1
243759    1
172622    1
244652    1
211076    1
Name: TARGET, Length: 7413, dtype: int64

In [ ]:
'''XGBoost with recursive feature elimination.
'''
def compute_score(model):
    '''Function to compute test and validation accuracy'''
    
    train_score=model.score(X_train,y_train)
    val_score=model.score(X_val,y_val)
    print('Train accuracy achieved is {}'.format(train_score))
    print('Validation accuracy achieved is {}'.format(val_score))


def recursive_feature_selection():
    '''The function will employ a feature selection technique names RFE to identify minimun subset of features that can achieve
        our objective and make prediction with acceptable accuracy.
    '''
    
    #declare variables
    assessment_sheet={}
    sampling_count=10
    
    #random sampling procedure
    sampled_df=df.sample(frac=0.50,axis=1)
    
    #separate target from predictors
    X=df.iloc[:,1:]
    y=df.iloc[:,0]
    
    #Split the data in train, cross validation.
    X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.30,random_state=42)
    
    #XGBoost model
    xgboost=GradientBoostingClassifier(n_estimators=100,learning_rate=l_rate,max_depth=1.0,random_state=0).fit(X_train,y_train)
    
    #compute mean accuracy score
    compute_score(xgboost)
    
    #compute permuation importance

In [80]:
'''Grading boosing classifier.'''
n_estimators=[75,100,250,300,350]
learning_rate=[0.50]
features=[]
def xgboost_model():
    '''XGBoost model to fit and score various'''
    global features
    for l_rate in learning_rate:
        xgboost=GradientBoostingClassifier(n_estimators=100,learning_rate=l_rate,max_depth=1.0,random_state=0).fit(X_train,y_train)
        score=xgboost.score(X_val,y_val)
        
        result=permutation_importance(xgboost,X_val,y_val,n_repeats=10,n_jobs=2,random_state=42)
        print(result)

        print('The accuracy score with {} learning rate is {}'.format(l_rate,score))

In [81]:
xgboost_model()

{'importances_mean': array([ 0.00000000e+00,  0.00000000e+00,  6.07019750e-05,  1.35495480e-04,
        0.00000000e+00,  2.70990960e-04,  0.00000000e+00,  2.05953129e-05,
        4.22745897e-05,  3.46868428e-05,  0.00000000e+00,  0.00000000e+00,
        1.73434214e-05,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  5.20302643e-05,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  6.82897219e-05,
        0.00000000e+00,  0.00000000e+00,  2.07037093e-04,  5.01875257e-04,
        6.22195244e-04,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.33327552e-04,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  2.81830598e-05,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  6.61217942e-05, -1.08396384e-06,
        2.27632406e-05, -1.40915299e-05,  1.22487914e-04,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  2.16792768e-06,
        0.00000000e+00,  1.30075661e-05,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  7.04576495e-05,  3.90226982e-05,  3.90226982e-05,
        1.88609708e-04,  0.00000000e+00,  5.09463004e-05,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  2.27632406e-05,
        1.51754937e-05,  2.05953129e-05,  0.00000000e+00,  0.00000000e+00,
        2.16792768e-05,  6.50378303e-05,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  4.87783728e-05,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  1.95113491e-05,
        0.00000000e+00,  0.00000000e+00,  2.81830598e-05,  0.00000000e+00,
        0.00000000e+00,  2.81830598e-05,  0.00000000e+00,  2.81830598e-05,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  1.40915299e-05,
        3.57708067e-05]), 'importances_std': array([0.00000000e+00, 0.00000000e+00, 4.06161120e-05, 5.09001534e-05,
       0.00000000e+00, 6.92380576e-05, 0.00000000e+00, 1.77783288e-05,
       4.78542720e-05, 4.19257259e-05, 0.00000000e+00, 0.00000000e+00,
       1.76123277e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.69032750e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.99024741e-05,
       0.00000000e+00, 0.00000000e+00, 8.04546557e-05, 7.72661712e-05,
       9.57576379e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       5.44253483e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.82672833e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.29364631e-05, 2.08222654e-05,
       1.96613232e-05, 2.32736906e-05, 4.05726955e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.26410820e-05,
       0.00000000e+00, 8.11164261e-06, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.76456529e-05, 2.17874035e-05, 1.62232852e-05,
       3.25910993e-05, 0.00000000e+00, 4.62561803e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.23114626e-05,
       6.03914769e-05, 4.58479545e-05, 0.00000000e+00, 0.00000000e+00,
       4.33585536e-05, 3.65988315e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.99809584e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.51754937e-05,
       0.00000000e+00, 0.00000000e+00, 2.87608107e-05, 0.00000000e+00,
       0.00000000e+00, 3.36552880e-05, 0.00000000e+00, 2.52821640e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.45832420e-05,
       8.46672213e-05]), 'importances': array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 1.19236022e-04,  1.30075661e-04,  4.33585536e-05, ...,
         3.25189152e-05,  5.41981919e-05,  1.08396384e-05],
       ...,
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 3.25189152e-05, -1.08396384e-05,  2.16792768e-05, ...,
         2.16792768e-05,  1.08396384e-05,  1.08396384e-05],
       [ 7.58774687e-05,  1.30075661e-04,  0.00000000e+00, ...,
         3.25189152e-05,  1.19236022e-04, -4.33585536e-05]])}
The accuracy score with 0.5 learning rate is 0.9198842326619984

In [71]:
#features[features>0.0]
df

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_col_6,ORGANIZATION_TYPE_col_7,ORGANIZATION_TYPE_col_8,ORGANIZATION_TYPE_col_9,ORGANIZATION_TYPE_col_10,ORGANIZATION_TYPE_col_11,ORGANIZATION_TYPE_col_12,ORGANIZATION_TYPE_col_13,ORGANIZATION_TYPE_col_14,DAYS_UNEMPLOYED
0,1,0,0.321938,0.489168,0.537543,0.018801,0.111161,0.0,0.147860,0.294567,...,0,0,0,0,0,0,0,0,0,0.035563
1,0,0,0.362048,0.746353,0.610134,0.003541,0.522886,0.0,0.048071,0.040434,...,0,0,0,0,1,0,0,0,0,0.066324
2,0,0,0.158484,0.244146,0.281841,0.010032,0.651466,0.0,0.172665,0.351674,...,0,0,0,0,0,1,0,0,0,0.012561
3,0,0,0.263550,0.430802,0.573785,0.008019,0.649154,0.0,0.398549,0.338613,...,0,0,0,0,0,0,0,0,0,0.169663
4,0,0,0.248013,0.540826,0.513513,0.028663,0.701409,0.0,0.174732,0.480478,...,0,0,0,0,1,0,0,0,0,0.169607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0,0,0.286008,0.385222,0.559120,0.032561,0.103608,0.0,0.342737,0.275393,...,0,0,0,0,1,0,0,0,0,0.013176
307507,0,0,0.168555,0.397815,0.395274,0.025164,0.748929,1.0,0.177853,0.568292,...,0,0,0,0,0,0,1,0,0,0.000000
307508,0,0,0.281810,0.602690,0.575717,0.005002,0.421477,0.0,0.273063,0.715576,...,0,0,0,0,1,0,0,0,0,0.442218
307509,1,0,0.297858,0.468271,0.497946,0.005313,0.252086,0.0,0.103842,0.129359,...,0,0,1,0,0,0,0,0,0,0.267195
307510,0,0,0.286008,0.601814,0.673032,0.046220,0.528016,0.0,0.207847,0.056968,...,0,0,0,0,0,0,0,0,0,0.070456